html{
	/*font-family:'fengguangmingrui';*/
	font-family: 'Noto Sans SC', sans-serif;
	/*font-family: 'ZCOOL XiaoWei', serif;*/
}

h1{
	/*font-family:'fengguangmingrui';*/
	font-family: 'Noto Sans SC', sans-serif;
	/*font-family: 'ZCOOL XiaoWei', serif;*/
	font-weight: 700;
}