.container{
	grid-area: container;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 20vh;
	padding-left: 20px;
	padding-right: 20px;

	/*display: grid;*/
	

}

.productsummary{
	grid-area: productsummary;
}
.product-logo{
	grid-area:productlogo;

}
.productname{
	grid-area:productname;
	font-size: 3rem;
	font-weight: 700;
	
}

.information{
	grid-area:information;
	display: grid;
	/*grid-template-columns:1fr;
	grid-template-areas: 
	 	"lot"
        "dat"
        "dut"
        "rot";*/
}

.location .info-title{
	grid-area:lot;
}

.location .info-content{
	grid-area:loc;
}

.date .info-title{
	grid-area:dat;
}

.date .info-content{
	grid-area:dac;
}

.duration .info-title{
	grid-area:dut;
}

.duration .info-content{
	grid-area:duc;
}

.roles .info-title{
	grid-area:rot;
}

.roles .info-content{
	grid-area:roc;
}









.product-logo{
	grid-area:productlogo;
	display: grid;
}







.product-logo img{
	height: 5vw;
	min-height: 50px;
	margin-bottom:2vw;
}






.overview{
	margin-top: 10vw;
	line-height: 150%;

}
.line{
	grid-area: line1;
	border: 0.1px solid rgba(0,0,0,0.25);
	margin-top: 30px;
	margin-bottom: 30px;
}



.content img{
	width: 100%;

}









@media only screen and (min-device-width : 0px) and (max-device-width : 481px) {

	.container{
		margin-top: 10vh;
    padding-left: 0px;
    padding-right: 0px;

	margin-left: 20px;
	margin-right: 20px;


}

	.productname{
	font-size: 2rem;
	line-height: 150%;
	
}


}





@media only screen and (min-device-width : 482px) and (max-device-width : 961px) {

	.container {
    grid-area: container;
    margin-top: 10vh;
}

	.productname {
    grid-area: productname;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 150%;
}

	


}


















